{{define "output/item_output_canceled"}}
{{template "header" .}}

        <main id="main">
            <div class="content-wrap">
                <div class="fixed-btn">
                    <button class="btn-normal"><a href="/">첫 화면으로</a></button>
                </div>
                <!-- 택배 찾기 취소 -->
                <div class="msg-wrap">
                    <div class="msg-body">
                        <div class="img-wrap">
                            <img src="/static/images/ico_cancel.png" alt="">
                        </div>
                        <p class="msg">택배 찾기가 취소되었습니다.</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>

<script>

</script>
{{end}}