{{template "layout.html" .}}
{{define "content"}}
<style>
    .popup-layer input{
        padding: 20px; 
        font-size: 60px;
        text-align: center;
        width: 450px;
        border: 1px solid #ccc;
        background-color: #ddd;
    }
</style>
<main id="main">
    <div class="content-wrap">
        <div class="list-box">
            <div class="list-title">비밀번호 입력하거나 입주민 카드를 태그해주세요</div>
            <div class="list-top">
                <p class="title">귀하의 호수</p>
                <p class="value">{{.Address}}호</p>
            </div>
            <div class="list-top">
                <p class="title">비밀번호</p>
                <p class="value"><input type="password" id="$password_input"></p>
            </div>
            <div class="popup-layer" style="display: none;" id="popup_keypad">
                <div class="popup-box">
                    <div class="popup-header">
                        <input type="password" value="" id="number_val">
                    </div>
                    <div class="number-input" id="number_keypad">
                        <button class="number" value="1">1</button>
                        <button class="number" value="2">2</button>
                        <button class="number" value="3">3</button>
                        <button class="number" value="4">4</button>
                        <button class="number" value="5">5</button>
                        <button class="number" value="6">6</button>
                        <button class="number" value="7">7</button>
                        <button class="number" value="8">8</button>
                        <button class="number" value="9">9</button>
                        <button></button>
                        <button class="number" value="0">0</button>
                        <button id="backspace"><img src="/static/images/backspace.png" alt=""></button>
                    </div>
                    <div class="popup-footer">
                        <div class="btn-wrap">
                            <button class="btn-normal" id="choice_number">선택 완료</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-wrap">
                <button class="btn-normal" id="$submit_btn">입력 완료</button>
                <button class="btn-normal" id="$cancel_btn">취소</button>
            </div>
        </div>
    </div>
</main>

<script>
    /* 남은 시간 확인 */
    const timeLimit = 30;
    let counter = 0;
    count();
    let intervalTimer = setInterval(count, 1000);

    function count(){
        if (counter > timeLimit) {
            clearInterval(intervalTimer);
            returnItem();
        }
        counter += 1;
    }
    
    const url = new URL(window.location.href);
    const itemId = url.searchParams.get("itemId");

    /* 입력 완료 버튼 선택시 */
    $submit_btn.onclick = () => {
        // 타이머 리셋
        counter = 0;

        axios.post('/output/password/check', {
            item_id: parseInt(itemId),
            password: parseInt($password_input.value),
        })
            .then(axiosResult => {
                let response = axiosResult.data;
                console.log(response);
                location.replace('/output/accept?itemId=' + itemId);
            })
            .catch(err => {
                alert('비밀번호가 올바르지 않습니다.');
                location.replace('/output/password/mismatch?itemId=' + itemId);
                console.error(err);
            })
    }

    /* 취소 버튼 선택시 */
    $cancel_btn.onclick = () => {
        returnItem();
    }
    
    /* 불출 취소 시 재수납 */
    function returnItem(){
        axios.post('/output/return?itemId=' + itemId)
            .then(axiosResult => {
                let response = axiosResult.data;
                console.log(response);
            })
            .catch(err => {
                console.error(err);
            });
    }

    let input = '$password_input'   // 기본 포커스 주소 input
    let password_list = [];

    /* 비밀번호 입력칸 클릭 */
    $password_input.onclick = () => {
        // 타이머 리셋
        counter = 0;

        $password_input.focus();
        input = $(":focus").attr('id')

        document.getElementById("popup_keypad").style.display = 'block';
        let password = password_list.join('');
        document.getElementById("number_val").value = password;
    };

    /* 숫자패드 숫자버튼 눌렀을때 */
    $('.number').click(function () {
        // 타이머 리셋
        counter = 0;

        number = $(this).attr('value');
        if (input == '$password_input') {
            password_list.push(number)
            password = password_list.join('');
            document.getElementById("$password_input").value = password;
            document.getElementById("number_val").value = password;
        }
    });
    
    /* 숫자패드 뒤로가기 버튼 눌렀을때 */
    backspace.onclick = () => {
        // 타이머 리셋
        counter = 0;

        if (input == '$password_input') {
            password_list.pop()
            password = password_list.join('');
            document.getElementById("$password_input").value = password;
            document.getElementById("number_val").value = password;
        }
    };

    /* 키패드_선택완료 버튼 선택시 */
    choice_number.onclick = () => {
        // 타이머 리셋
        counter = 0;

        document.getElementById("popup_keypad").style.display = 'none';
        document.getElementById("number_val").value = ""
    };

</script>
{{end}}