{{template "layout.html" .}}
{{define "content"}}

<main id="main">
    <div class="content-wrap">
        <div class="fixed-btn">
            <button class="btn-normal"><a href="/">첫 화면으로</a></button>
        </div>

        <!-- 정보 오류 -->
        <div class="msg-wrap">
            <div class="msg-body">
                <div class="img-wrap">
                    <img src="/static/images/ico_report_red.png" alt="">
                </div>
                <p class="msg">비밀번호가 <br>일치하지 않습니다.</p>
            </div>
            <div class="msg-footer">
                <div class="btn-wrap">
                    <button class="btn-normal" id="$re_enter_btn">재입력</button>
                    <button class="btn-normal" id="$cancel_btn">취소</button>
                </div>
            </div>
        </div>
    </div>
</main>


<script>
    const url = new URL(window.location.href);
    const itemId = url.searchParams.get("itemId");

    $re_enter_btn.onclick = () => {
        window.location.replace('/output/password/form?itemId=' + itemId);
    }

    $cancel_btn.onclick = () => {
        axios.post('/output/return?itemId=' + itemId)
            .then(axiosResult => {
                let response = axiosResult.data;
                console.log(response);
            })
            .catch(err => {
                console.error(err);
            });
    }
</script>
{{end}}