{{define "output/item_output_accept"}}
{{template "header" .}}

        <main id="main">
            <div class="content-wrap">
                <div class="fixed-btn">
                    <button class="btn-normal" id="$takeout_btn">(임시) 물건 꺼내기</button>
                </div>
                <!-- 택배 꺼내기 -->
                <div class="msg-wrap">
                    <div class="msg-body">
                        <div class="img-wrap">
                            <img src="/static/images/ico_receive.png" alt="">
                        </div>
                        <p class="msg">택배를 꺼내 주세요</p>
                        <p class="green time-msg">5초 뒤 자동으로 재입고 됩니다.</p>
                        <p class="time-count" >
                            <span id="$counter">5</span>
                        </p>
                    </div>
                </div>
                
            </div>
        </main>
    </div>
</body>
</html>

<script>
    const url = new URL(window.location.href);
    const itemId = url.searchParams.get("itemId");
    const timeLimit = 5;

    let counter = 0;

    let intervalId = setInterval(senseTableForItem, 1000);

    async function senseTableForItem() {
        counter += 1;

        if (counter > timeLimit) {
            clearInterval(intervalId);
            return false;
        }

        $counter.innerText = timeLimit - counter;

        // 테이블에 택배 있는 지 확인
        let axiosResult = await axios.get('/output/sense_table_for_item')
            .catch(err => {
                console.error(err);
            });

        let response = axiosResult.data;
        console.log(response);
        // true or false
        let isItemOnTable = JSON.parse(response.data);

        // 입주민이 택배를 수령해 테이블에 물건이 없을 경우
        if (!isItemOnTable) {
            clearInterval(intervalId);
            let axiosResult = await axios.post('/output/complete?itemId=' + itemId)
                .catch(err => {
                    console.error(err);
                });
            console.debug(axiosResult);
            return false;
        }

        if (counter !== timeLimit) {
            return false
        }
        clearInterval(intervalId);

        // 5초 경과 후에도 입주민이 택배를 수령하지 않은 경우
        await axios.post('/output/return?itemId=' + itemId)
            .then(axiosResult => {
                let response = axiosResult.data;
                console.log(response);
            })
            .catch(err => {
                console.error(err);
            });
    }

    // TODO - temp - 수령 버튼 (시뮬레이션 용)
    $takeout_btn.onclick = () => {
        axios.post('/output/takeout')
            .then(axiosResult => {
                let response = axiosResult.data;
                console.log(response);
            })
            .catch(err => {
                console.error(err);
            });
    }

</script>
{{end}}