{{define "output/item_output_thankyou"}}
{{template "header" .}}

        <main id="main">
            <div class="content-wrap">
                <div class="fixed-btn">
                    <button class="btn-normal"><a href="/">첫 화면으로</a></button>
                </div>
                <!-- 메시지 -->
                <div class="msg-wrap">
                    <div class="msg-body">
                        <div class="img-wrap">
                            <img src="/static/images/ico_complete.png" alt="">
                        </div>
                        <p class="msg">감사합니다.</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>

<script>

</script>
{{end}}