{{template "layout.html" .}}
{{define "content"}}

<main id="main">
    <div class="content-wrap">
        <div class="fixed-btn">
            <button class="btn-normal"><a href="/">첫 화면으로</a></button>
        </div>
        <!-- 메시지 -->
        <div class="msg-wrap">
            <div class="msg-body">
                <div class="img-wrap">
                    <img src="/static/images/warning.png" alt="">
                </div>
                <p class="msg">수령할 물품이 없습니다.</p>
            </div>
        </div>
    </div>
</main>

<script>
    /* 남은 시간 확인 */
    const timeLimit = 5;
    let counter = 0;
    count();
    let intervalTimer = setInterval(count, 1000);

    function count(){
        if (counter > timeLimit) {
            clearInterval(intervalTimer);
            location.href='/';
        }
        counter += 1;
    }

</script>
{{end}}