{{template "layout.html" .}}
{{define "content"}}

<main id="main">
    <div class="content-wrap">
        <div class="fixed-btn">
            <button class="btn-normal" id="$home_btn">첫 화면으로</a></button>
        </div>

        <!-- 정보 오류 -->
        <div class="msg-wrap">
            <div class="msg-body">
                <div class="img-wrap">
                    <img src="/static/images/ico_report_red.png" alt="">
                </div>
                <p class="msg">비밀번호가 <br>일치하지 않습니다.</p>
            </div>
            <div class="msg-footer">
                <div class="btn-wrap">
                    <button class="btn-normal" id="$re_enter_btn">재입력</button>
                    <button class="btn-normal" id="$cancel_btn">취소</button>
                </div>
            </div>
        </div>
    </div>
</main>


<script>
    const url = new URL(window.location.href);
    const itemId = url.searchParams.get("itemId");

    /* 남은 시간 확인 */
    const timeLimit = 15;
    let counter = 0;
    count();
    let intervalTimer = setInterval(count, 1000);

    function count(){
        if (counter > timeLimit) {
            clearInterval(intervalTimer);
            returnAll();
        }
        counter += 1;
    }

    /* 재입력 버튼 선택시 */
    $re_enter_btn.onclick = () => {
        window.location.replace('/output/password/form?itemId=' + itemId);
    }

    /* 홈 버튼 선택시 */
    $home_btn.onclick=() => {
        returnAll();
    }

    /* 취소 버튼 선택시 */
    $cancel_btn.onclick = () => {
        returnItem();
    }
    
    /* 불출 취소 시 재수납 */   
    function returnItem(){
        axios.post('/output/return?itemId=' + itemId)
            .then(axiosResult => {
                let response = axiosResult.data;
                console.log(response);
            })
            .catch(err => {
                console.error(err);
            });
    }

    /* 처음으로 버튼, 15초 경과 시 전체 취소 */
    function returnAll(){
        axios.post('/output/return_all?itemId=' + itemId)
            .then(axiosResult => {
                let response = axiosResult.data;
                console.log(response);
            })
            .catch(err => {
                console.error(err);
            });
    }
</script>
{{end}}