{{define "output/regist_address"}}
{{template "header" .}}

<div class="sub-right">
    <div class="sub-right-con">
        <div class="sub-con-sec join-sec">
            <div class="form-wrap">
                <div style="margin-bottom: 30px;">아래의 정보를 입력하세요</div>
                <div class="input-item">
                    <label for="$address">귀하의 호수</label>
                    <input type="text" id="$address">
                </div>
            </div>
            <div class="btn-wrap">
                <button class="btn-normal" id="$submit_address_btn">입력 완료</button>
                <button class="btn-small" id="$cancel_btn">처음으로</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

    $submit_address_btn.onclick = () => {
        if ($address.value === '') {
            alert('주소를 입력해주세요.');
            return false;
        }

        axios.get('/output/check_item_exists?address=' + $address.value)
        .then(axiosResult => {
            let response = axiosResult.data;
            location.replace(response);
        })
        .catch(err => {
            if (err.response.status === 404) {
                alert('보관된 택배가 없습니다.');
            } else {
                console.error(err);
            }
        });
    }

</script>
{{end}}