{{define "main"}}
{{template "header" .}}
<body>
    <div id="header"></div>
	  <div class="wrap">
        <div id="container">

            <div class="main-page">
                <!-- <div class="main-bg"></div>
                <div class="main-con"></div> -->
            </div>

            <div class="sub-right">
                <h2 class="sub-right-title">무인 택배 보관함</h2>
                <div class="sub-right-con">
                    <div class="sub-con-sec">
                        <div class="board-top-search" style="float: left">
                            <button class="btn-small" id="input_item_btn"><a href="input/regist_delivery">택배 입고</a></button>
                            <button class="btn-small" id="output_item_btn"><a href="output/regist_address">택배 찾기</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{{end}}
