{{define "output/regist_address_error"}}
{{template "header" .}}

<div class="main-page" style="display: none;">
    <!-- <div class="main-bg"></div>
    <div class="main-con"></div> -->
</div>

<div class="sub-right" ;style="background-color: white; display: ">
    <h2 class="sub-right-title">수령인 불일치</h2>
    <div class="sub-right-con">
        <div class="sub-con-sec">
            <div class="board-top-search" style="float: left;">
                <button class="btn-small" id="qna_search_btn"><a href="/output/regist_owner">재입력</a></button>
                <button class="btn-small" id="qna_search_btn"><a href="/">처음으로</a></button>

            </div>

        </div>
    </div>
</div>
{{end}}