{{template "layout.html" .}}
{{define "content"}}

        <main id="main">
            <div class="content-wrap">
                <div class="msg-wrap">
                    <div class="msg-body">
                        <div class="img-wrap">
                            <img src="/static/images/ico_complete.png" alt="">
                        </div>
                        <p class="msg">택배 정보 확인 중 …</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>

{{end}}