{{template "layout.html" .}}
{{define "content"}}
<main id="main">
    <div class="content-wrap">
        <div class="time-wrap">
            <p class="msg">남은시간</p>
            <p class="time-count">
                <span id="$counter">5</span>
            </p>
        </div>
        <div class="fixed-btn">
            <button class="btn-normal home_btn">첫 화면으로</button>
        </div>
        <!-- 택배 투입 -->
        <div class="msg-wrap">
            <div class="msg-body">
                <div class="img-wrap">
                    <img src="/static/images/parcel.png" alt="">
                </div>
                <p class="msg">송장이 위로 향하게 투입해 주세요!</p>
            </div>
        </div>
    </div>
    <div class="popup-layer" style="display: none;" id="modal">
        <div class="popup-box msg-box">
            <div class="popup-body">
                <p class="msg">물품을 회수해주세요
            </div>
        </div>
    </div>
</main>

<script>
    let url = new URL(window.location.href);
    let deliveryId = url.searchParams.get("deliveryId");
    let ownerId = url.searchParams.get("ownerId");
    let cancel = false; // 취소 여부
    let next = true;    // 함수 실행 가능 여부 확인 true : 가능 - 이 전 동작 완료 시 실행 가능
    let intervalId = setInterval(senseTableForItem, 1000);

    /* 남은 시간 확인 */
    const timeLimit = 15;
    let counter = 0;
    count();
    let intervalTime = setInterval(count, 1000);

    function count(){
        if (counter > timeLimit) {
            clearInterval(intervalTime);
            return false;
        }
        $counter.innerText = timeLimit - counter;
        counter += 1;
    }
    
    // 테이블에 택배 있는지 확인
    function senseTableForItem(){
        if(next == true){
            next = false;
            axios.get('/input/sense_table_for_item').then(res => {
                let response = res.data.data
                console.log(res.data)
                // 물품이 없다면 반복실행
                if(response == 'false'){
                    console.log("물품 안들어옴")
                    next = true
                } else{
                    // 물품이 있다면 inputItem
                    console.log("물품 들어옴")
                    clearInterval(intervalId)
                    inputItem()
                }
            }).catch(err => {
                console.error(err);
            });
        }
    }
    
    function inputItem(){
        /* 택배 투입 */
        axios.post(`/input/submit_item?deliveryId=${deliveryId}&ownerId=${ownerId}`).then(axiosResult => {
            let response = axiosResult.data;
            let redirectUrl = `${response.data}?deliveryId=${deliveryId}&ownerId=${ownerId}`;
            console.log(redirectUrl)
            if(cancel == false){
                location.replace(redirectUrl);
            }
        }).catch(err => {
            console.log(err);
            setTimeout(function(){
                location.href='/input/input_item_error?error=' + err.response.data.error;
            }, 5000);
        });
    }
    
    let isItemOnTable;
    let keep = true; // 함수 실행 가능 여부 확인 true : 가능
    const modal = document.getElementById("modal");

    /* 입고 취소 */
    function send_stop_info() {
        cancel = true;
        let request = JSON.stringify({
            step: "2",
        });
        modal.style.display = "block";
        document.body.style.overflow = "hidden";

        // 문 열고 물품 회수했는지 확인
        if(keep == true){
            keep = false;
            axios.post('/input/stop_input', request).then(res => {
                let response = res.data.data
                console.log(res.data)
                // **삭제
                response = 'false'
                // 물품이 있다면 반복실행
                if(response == 'true'){
                    keep = true
                } else{
                    // 물품이 없다면 inputItem
                    clearInterval(isItemOnTable)
                    location.href='/input/cancel_input_item'
                }
            }).catch(err => {
                console.error(err);
            });
        }       
    }

    $('.home_btn').click(function(){
        clearInterval(intervalId);
        send_stop_info();    // 최초실행
        isItemOnTable = setInterval(send_stop_info, 1000);
    });

    setTimeout(function () {
        send_stop_info();    // 최초실행
        isItemOnTable = setInterval(send_stop_info, 1000);
    }, 15000);

</script>
{{end}}