{{define "input/input_item_error"}}
{{template "header" .}}

<div class="main-page" style="display: none;">
    <!-- <div class="main-bg"></div>
    <div class="main-con"></div> -->
</div>

<div class="sub-right" ;style="background-color: white; display: ">
    <h2 class="sub-right-title">아이콘</h2>
    <div class="sub-right-con">
        <div class="sub-con-sec">
            <div class="board-top-search" style="float: left;">
                <p>택배 투입구를 확인해주세요!</p>
                <p>허용 무게 초과</p>
                <button class="btn-small" id="cancle_btn"><a href="/input/cancle_input_item">입고 취소</a></button>
                <button class="btn-small" id="home_btn"><a href="/">처음으로</a></button>
            </div>

        </div>
    </div>
</div>
{{end}}