{{define "input/input_item"}}
{{template "header" .}}

<div class="main-page" style="display: none;">
    <!-- <div class="main-bg"></div>
    <div class="main-con"></div> -->
</div>

<div class="sub-right" style="background-color: white; display: ">
    <h2 class="sub-right-title">송장이 위로 향하게 투입해주세요!</h2>
    <div class="sub-right-con">
        <div class="sub-con-sec">
            <div class="board-top-search" style="float: left;">
                <!-- <button class="btn-small" id="complete_btn"><a href="/input/regist_owner">입고 완료</a></button> -->

                <button class="btn-small" id="cancle_btn" onclick="send_stop_info()">입고 취소</button>
                <button class="btn-small" id="home_btn" onclick="send_stop_info()">처음으로</button>
            </div>

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    let url = new URL(window.location.href);
    let deliveryId = url.searchParams.get("deliveryId");
    let ownerId = url.searchParams.get("ownerId");

    /* 택배 투입 */
    axios.post('/input/submit_item').then(axiosResult => {
        let response = axiosResult.data;
        if(response.status === 200){
            // **제거
            setTimeout(function(){
                let redirectUrl = response.data + "?deliveryId=" + deliveryId + "&ownerId=" + ownerId;
                location.replace(redirectUrl);
            }, 5000)
        } else{
            console.log(response.error);
            alert(response.error)
        }
    }).catch(err => {
        console.log(err);
        setTimeout(function(){
            location.href='/input/input_item_error?error=' + err.response.data.error;
        }, 5000);
    });

    /* 입고 취소 */
    function send_stop_info() {
        let request = JSON.stringify({
            step: "2",
        });

        axios.post('/input/stop_input', request).then(res => {
            if(res.data.status === 200){
                alert('입고를 취소하셨습니다.');
                location.href='/input/cancel_input_item'
            } else{
                console.log(res.data.error)
                alert(res.data.error)
            }
            
        }).catch(err => {
            console.log(err);
            alert(err.response.data.error)
        });
    }
    </script>

{{end}}