{{template "layout.html" .}}
{{define "content"}}
<main id="main">
    <div class="content-wrap">
        <div class="fixed-btn">
            <button class="btn-normal home_btn">첫 화면으로</button>
        </div>
        <!-- 입고 실패 -->
        <div class="msg-wrap home_btn">
            <div class="msg-body">
                <div class="img-wrap">
                    <img src="/static/images/ico_report_red.png" alt="">
                </div>
                <div class="fail-msg">
                    <p>아래 사유로 입고에 실패했습니다.</p>
                    <div id="error_msg">
                        <span></span>
                    </div>
                    
                </div>
                <p class="msg">입고를 원하시면 관리자에게 문의해주세요.</p>
            </div>
           <!--  <div class="msg-footer">
                <div class="btn-wrap">
                    <button class="btn-normal cancel_btn">입고 취소</button>
                </div>
            </div> -->
        </div>
    </div>
</main>

<script>
    let getLink = window.location.search;
    let getSplit = getLink.split('=');	//getLink를 '='를 기준으로 두 배열 요소로 분리
    let getError = getSplit[1];	//분리한 배열 중 두번째 요소 변수에 넣기
    let decodeError = decodeURI(getError);
    getHtml(decodeError);

    function getHtml(error){
        let getHtml = `<span>${error}</span>`;
        $('#error_msg').html(getHtml);
    }
    
    /* 남은 시간 확인 */
    const timeLimit = 10;
    let counter = 0;
    count();
    let intervalTimer = setInterval(count, 1000);

    function count(){
        if (counter > timeLimit) {
            clearInterval(intervalTimer);
            location.href='/';
        }
        counter += 1;
    }

    $('.home_btn').click(function(){
        location.href='/';
    });

    $('.cancel_btn').click(function(){
        location.href='/';
    });
    
</script>

{{end}}