{{template "layout.html" .}}
{{define "content"}}
<main id="main">
    <div class="content-wrap">
        <div class="time-wrap">
            <p class="msg">남은시간</p>
            <p class="time-count">
                <span id="$counter">5</span>
            </p>
        </div>
        <div class="fixed-btn">
            <button class="btn-normal home_btn">첫 화면으로</button>
        </div>
        <!-- 입고 실패 -->
        <div class="msg-wrap home_btn">
            <div class="msg-body">
                <div class="img-wrap">
                    <img src="/static/images/ico_report_red.png" alt="">
                </div>
                <div class="fail-msg">
                    <p>아래 사유로 입고에 실패했습니다.</p>
                    <div id="error_msg">
                        <span></span>
                    </div>
                    
                </div>
                <!-- <p class="msg">택배를 다시 입고해주세요.</p> -->
            </div>
           <!--  <div class="msg-footer">
                <div class="btn-wrap">
                    <button class="btn-normal cancel_btn">입고 취소</button>
                </div>
            </div> -->
        </div>
    </div>
    <div class="popup-layer" style="display: none;" id="modal">
        <div class="popup-box msg-box">
            <div class="popup-body">
                <p class="msg">물품을 회수해주세요
            </div>
        </div>
    </div>
</main>

<script>
    let getLink = window.location.search;
    let getSplit = getLink.split('=');	//getLink를 '='를 기준으로 두 배열 요소로 분리
    let getError = getSplit[1];	//분리한 배열 중 두번째 요소 변수에 넣기
    let decodeError = decodeURI(getError);
    getHtml(decodeError);

    function getHtml(error){
        let getHtml = `<span>${error}</span>`;
        $('#error_msg').html(getHtml);
    }

    let isItemOnTable;
    let keep = true; // 함수 실행 가능 여부 확인 true : 가능
    const modal = document.getElementById("modal");

    
    /* 남은 시간 확인 */
    const timeLimit = 5;
    let counter = 0;
    count();
    let intervalId = setInterval(count, 1000);

    function count(){
        if (counter > timeLimit) {
            clearInterval(intervalId);
            return false;
        }
        $counter.innerText = timeLimit - counter;
        counter += 1;
    }

    setTimeout(function(){
        send_stop_info();    // 최초실행
        isItemOnTable = setInterval(send_stop_info, 1000);
    }, 5000);


    /* 입고 취소 */
    function send_stop_info() {
        let request = JSON.stringify({
            step: "2",
        });
        modal.style.display = "block";
        document.body.style.overflow = "hidden";

        // 문 열고 물품 회수했는지 확인
        if(keep == true){
            keep = false;
            axios.post('/input/stop_input', request).then(res => {
                let response = res.data.data;
                console.log(res.data);
                response = false;
                // 물품이 있다면 반복실행
                if(response == 'true'){
                    keep = true;
                } else{
                    // 물품이 없다면
                    clearInterval(isItemOnTable);
                    location.href='/';
                }
            }).catch(err => {
                console.error(err);
            });
        }       
    }

    $('.home_btn').click(function(){
        send_stop_info();    // 최초실행
        isItemOnTable = setInterval(send_stop_info, 1000);
    });

    $('.cancel_btn').click(function(){
        send_stop_info();    // 최초실행
        isItemOnTable = setInterval(send_stop_info, 1000);
    });
    
</script>

{{end}}