{{define "input/regist_delivery"}}
{{template "header" .}}

<div class="sub-right">
    <h2 class="sub-right-title">물품기사 정보 입력</h2>
    <div class="sub-right-con">
        <div class="sub-con-sec join-sec">
            <div class="form-wrap">
                <div style="margin-bottom: 30px;">아래의 정보를 입력하세요</div>
                <form action="">
                    <div class="input-item">
                        <label for="delivery_company">택배 회사</label>
                        <select id="delivery_company">
                        </select>
                    </div>
                    <div class="input-item">
                        <label for="address">수령인 주소</label>
                        <input type="text" id="address">
                    </div>
                    <div class="input-item">
                        <label for="phone_num">수령인 연락처</label>
                        <input type="text" id="phone_num">
                    </div>
                </form>
            </div>
            <div class="btn-wrap">
                <button class="btn-normal" id="delivery_regist_btn" onclick="send_delivery_info()">입력완료</button><br><br>
                <button class="btn-small" id="home_btn"><a href="/">첫 화면으로</a></button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>
    /* 택배 회사 리스트 조회 */
    axios.get('/input/get_delivery_list').then(res => {
        let delivery_list = res.data.data;
        let list = '';
        console.log(delivery_list)
        for(let i=0; i<delivery_list.length; i++){
            list += `
                <option name="delivery_company" value="${delivery_list[i].delivery_id}">${delivery_list[i].delivery_company}</option> 
            `
        
            $('#delivery_company').html(list);
        }
    });

    /* 배송 정보 전달 */
    function send_delivery_info() {

        let request = JSON.stringify({
            delivery_id: $("#delivery_company :selected").val(),
            address: $('#address').val(),
            phone_num: $('#phone_num').val(),
        });
        console.log(request)

        if ($('#delivery_company').val() == '') {
            alert('소속회사를 입력해주세요.');
            return false;
        }
        if ($('#address').val() == '') {
            alert('수령인 주소를 입력해주세요.');
            return false;
        }

        alert('입고를 준비중입니다.');

        axios.post('/input/input_delivery_info', request).then(res => {
            console.log(res.data)
            console.log(res.data.status)
            
            if(res.data.status == 200){
                location.href='/input/input_item'
            } else{
                console.log(res.data.error)
                alert(res.data.error)
                //location.href='/input/regist_delivery_error'

            }
            
        }).catch(err => {
            console.log(err);
            alert(err.response.data.error)
            //setTimeout(function(){
            //    location.href='/input/input_item_error?error=' + err.response.data.error;
            //}, 5000);
        });
    }
    
</script>
{{end}}