{{define "input/complete_input_item"}}
{{template "header" .}}

<div class="main-page" style="display: none;">
    <!-- <div class="main-bg"></div>
    <div class="main-con"></div> -->
</div>

<div class="sub-right" ;style="background-color: white; display: ">
    <h2 class="sub-right-title">아이콘</h2>
    <div class="sub-right-con">
        <div class="sub-con-sec">
            <div class="board-top-search" style="float: left;">
                <p>택배 입고가 완료되었습니다.</p>
                <button class="btn-small" id="home_btn" style="margin-top: 30px;"><a href="/">처음으로</a></button>
            </div>

        </div>
    </div>
</div>
{{end}}