{{template "layout.html" .}}
{{define "content"}}
<style>
    /* .modal-content {
        background-color: rgb(2, 26, 2);
        position: absolute;
        top: 35%;
        left: 50%;
        margin: 15% auto;
        padding: 40px;
        border: 1px solid #888;
        width: 55%;
        transform: translate(-50%, -50%);
    }

    .modal-msg {
        text-align: center;
        color: rgb(255, 174, 0);
        font-size: 2.8rem;
        font-weight: 700;
        word-break: keep-all;
        line-height: 140%;
        width: 80%;
        margin: 0 auto;
        padding: 30px 0;
    } */

    #popup_ready_input {
        position: absolute;
        z-index: 9998;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        display: block;
    }

    .list-box .list-top.tracking_num .value img {
        width:50px
    }

    .popup-box.msg-box .img {
        text-align: center;
    }
    .popup-box.msg-box .img img {
        width:400px
    }
    .popup-layer input{
        padding: 20px; 
        font-size: 60px;
        text-align: center;
        width: 450px;
        border: 1px solid #ccc;
        background-color: #ddd;
    }
    .popup-layer{
        height: 130%;
    }

</style>
        <main id="main">
            <div class="content-wrap">
                <div class="setting-wrap">
                    <div class="setting-body">
                        <div class="setting-title">회원 정보 확인</div>
                        <div>
                            <div class="list-top">
                                <p class="title">호수</p>
                                <p class="value"><input type="number" id="$address_input">호</p>
                            </div>
                            <div class="list-top">
                                <p class="title">비밀번호</p>
                                <p class="value"><input type="password" id="$password_input"></p>
                            </div>
                        </div>
                        
                        <div class="popup-layer" style="display: none;" id="popup_keypad">
                            <div class="popup-box">
                                <div class="popup-header">
                                    <input type="number" value="" id="number_val">
                                </div>
                                <div class="number-input" id="number_keypad">
                                    <button class="number" value="1">1</button>
                                    <button class="number" value="2">2</button>
                                    <button class="number" value="3">3</button>
                                    <button class="number" value="4">4</button>
                                    <button class="number" value="5">5</button>
                                    <button class="number" value="6">6</button>
                                    <button class="number" value="7">7</button>
                                    <button class="number" value="8">8</button>
                                    <button class="number" value="9">9</button>
                                    <button></button>
                                    <button class="number" value="0">0</button>
                                    <button id="backspace"><img src="/static/images/backspace.png" alt=""></button>
                                </div>
                                <div class="popup-footer">
                                    <div class="btn-wrap">
                                        <button class="btn-normal" id="choice_number">입력 완료</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="msg-footer">
                        <div class="btn-wrap">
                            <button class="btn-green" id="ok_btn">확인</button>
                            <button class="btn-normal btn-white" id="cancel_btn">취소</button>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>

<script>
    /* 남은 시간 확인 */
    const timeLimit = 600;
    let counter = 0;
    count();
    let intervalTimer = setInterval(count, 1000);

    function count(){
        if (counter > timeLimit) {
            clearInterval(intervalTimer);
            location.href='/';
        }
        counter += 1;
    }

    let input = '$address_input'
    let address_list = [];
    let password_list = [];

    $address_input.onclick = () => {
        // 타이머 리셋
        counter = 0;

        $address_input.focus();
        input = $(":focus").attr('id');
        document.getElementById("popup_keypad").style.display = 'block';
        number_val.type = 'text';

        let address = address_list.join('');
        document.getElementById("number_val").value = address;
    };

    $password_input.onclick = () => {
        // 타이머 리셋
        counter = 0;

        $password_input.focus();
        input = $(":focus").attr('id');
        document.getElementById("popup_keypad").style.display = 'block';
        number_val.type = 'password';

        let password = password_list.join('');
        document.getElementById("number_val").value = password;
    };

    /* 숫자패드 숫자버튼 눌렀을때 */
    $('.number').click(function(){
        // 타이머 리셋
        counter = 0;

        number = $(this).attr('value');
        if (input === '$address_input') {
            address_list.push(number);
            let address = address_list.join('');
            document.getElementById("$address_input").value = address;
            document.getElementById("number_val").value = address;
        } else if(input === '$password_input'){
            password_list.push(number);
            password = password_list.join('');
            document.getElementById("$password_input").value = password;
            document.getElementById("number_val").value = password;
        }
    });
    
    /* 숫자패드 뒤로가기 버튼 눌렀을때 */
    backspace.onclick = () => {
        // 타이머 리셋
        counter = 0;

        if (input === '$address_input') {
            address_list.pop();
            let address = address_list.join('');
            document.getElementById("$address_input").value = address;
            document.getElementById("number_val").value = address;
        } else if(input === '$password_input') {
            password_list.pop();
            let password = password_list.join('');
            document.getElementById("$password_input").value = password;
            document.getElementById("number_val").value = password;
        }
    };

    /* 키패드_선택완료 버튼 선택시 */
    choice_number.onclick = () => {
        // 타이머 리셋
        counter = 0;

        document.getElementById("popup_keypad").style.display = 'none';
        document.getElementById("number_val").value = ""
    };

    ok_btn.onclick = () => {

        axios.post('/setting/password/check', {
            address: $address_input.value,
            password: $password_input.value,
        })
            .then(axiosResult => {
                let response = axiosResult.data;
                location.replace('/setting/user_info?address='+$address_input.value);
            })
            .catch(err => {
                alert('비밀번호가 올바르지 않습니다.');
                //location.replace('/output/password/mismatch');
                console.error(err);
            })
    }


    /* 입력완료 버튼 선택시 */
    cancel_btn.onclick = () => {
        location.href='/';
    };
    
</script>
{{end}}