{{template "layout.html" .}}
{{define "content"}}
<style>
    #popup_ready_input {
        position: absolute;
        z-index: 9998;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        display: block;
    }

    .popup-box.msg-box .img {
        text-align: center;
    }
    .popup-box.msg-box .img img {
        width:400px
    }
    .popup-layer input{
        padding: 20px; 
        font-size: 60px;
        text-align: center;
        width: 450px;
        border: 1px solid #ccc;
        background-color: #ddd;
    }
    .popup-layer{
        height: 130%;
    }   

</style>
        <main id="main">
            <div class="content-wrap">
                <div class="setting-wrap">
                    <div class="setting-body">
                        <div class="setting-title">회원 PW</div>
                        <div class="setting-content">
                            <div class="info-row">
                                <span class="info-label">신규 PW</span>
                                <input type="password" class="info-value" id="$new_password"></p>
                            </div>
                            <div class="info-row">
                                <span class="info-label">재입력 PW</span>
                                <input type="password" class="info-value" id="$confirm_password"></p>
                            </div>
                        </div>
                        <div class="popup-layer" style="display: none;" id="popup_keypad">
                            <div class="popup-box">
                                <div class="popup-header">
                                    <input type="number" value="" id="number_val">
                                </div>
                                <div class="number-input" id="number_keypad">
                                    <button class="number" value="1">1</button>
                                    <button class="number" value="2">2</button>
                                    <button class="number" value="3">3</button>
                                    <button class="number" value="4">4</button>
                                    <button class="number" value="5">5</button>
                                    <button class="number" value="6">6</button>
                                    <button class="number" value="7">7</button>
                                    <button class="number" value="8">8</button>
                                    <button class="number" value="9">9</button>
                                    <button></button>
                                    <button class="number" value="0">0</button>
                                    <button id="backspace"><img src="/static/images/backspace.png" alt=""></button>
                                </div>
                                <div class="popup-footer">
                                    <div class="btn-wrap">
                                        <button class="btn-normal" id="choice_number">입력 완료</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="msg-footer">
                        <div class="btn-wrap">
                            <button class="btn-green" id="ok_btn">변경</button>
                            <button class="btn-normal btn-white" id="cancel_btn">취소</button>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>

<script>
    /* 남은 시간 확인 */
    const timeLimit = 600;
    let counter = 0;
    count();
    let intervalTimer = setInterval(count, 1000);

    function count(){
        if (counter > timeLimit) {
            clearInterval(intervalTimer);
            location.href='/';
        }
        counter += 1;
    }

    let input = '$new_password'
    let password_list = [];
    let confirm_password_list = [];

    $new_password.onclick = () => {
        // 타이머 리셋
        counter = 0;

        $new_password.focus();
        input = $(":focus").attr('id');
        document.getElementById("popup_keypad").style.display = 'block';

        let new_password = password_list.join('');
        document.getElementById("number_val").value = new_password;
    };

    $confirm_password.onclick = () => {
        // 타이머 리셋
        counter = 0;

        $confirm_password.focus();
        input = $(":focus").attr('id');
        document.getElementById("popup_keypad").style.display = 'block';

        let confirm_password = confirm_password_list.join('');
        document.getElementById("number_val").value = confirm_password;
    };

    /* 숫자패드 숫자버튼 눌렀을때 */
    $('.number').click(function(){
        // 타이머 리셋
        counter = 0;

        number = $(this).attr('value');
        if (input === '$new_password') {
            password_list.push(number);
            let address = password_list.join('');
            document.getElementById("$new_password").value = address;
            document.getElementById("number_val").value = address;
        } else if(input === '$confirm_password'){
            confirm_password_list.push(number);
            password = confirm_password_list.join('');
            document.getElementById("$confirm_password").value = password;
            document.getElementById("number_val").value = password;
        }
    });
    
    /* 숫자패드 뒤로가기 버튼 눌렀을때 */
    backspace.onclick = () => {
        // 타이머 리셋
        counter = 0;

        if (input === '$new_password') {
            password_list.pop();
            let new_password = password_list.join('');
            document.getElementById("$new_password").value = new_password;
            document.getElementById("number_val").value = new_password;
        } else if(input === '$confirm_password') {
            confirm_password_list.pop();
            let confirm_password = confirm_password_list.join('');
            document.getElementById("$confirm_password").value = confirm_password;
            document.getElementById("number_val").value = confirm_password;
        }
    };

    /* 키패드_선택완료 버튼 선택시 */
    choice_number.onclick = () => {
        // 타이머 리셋
        counter = 0;

        document.getElementById("popup_keypad").style.display = 'none';
        document.getElementById("number_val").value = ""
    };

    const url = new URL(window.location.href);
    const address = url.searchParams.get("address");


    ok_btn.onclick = () => {
        // 타이머 리셋
        counter = 0;

        // 신규 pw, 재입력 pw 일치 확인
        if ($new_password.value != $confirm_password.value) {
            console.log($new_password.value, $confirm_password.value);
            alert('변경 PW가 일치하지 않습니다. 재 확인 바랍니다.')
            return
        } else {
                axios.post('/setting/password/update?address='+address, {password: $new_password.value}) .then(axiosResult => {
                    let response = axiosResult.data;
                    console.log(response);
                    alert('회원 PW를 정상적으로 변경했습니다.')
                    .then(() => {
                        location.replace('/setting/user_info?address='+address);
                    });
                }).catch(err => {
                    alert('비밀번호가 올바르지 않습니다.');
                    //location.replace('/output/password/mismatch');
                    console.error(err);
                })
        }       
    }


    /* 입력완료 버튼 선택시 */
    cancel_btn.onclick = () => {
        location.href='/';
    };
    
</script>
{{end}}